In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

data = pd.read_csv('Fish.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [64]:
data.columns = ['Species', 'Weight','Vertical_length','Diagnol_length','Cross_length','Height','Width']
data.head()

,Species,Weight,Vertical_length,Diagnol_length,Cross_length,Height,Width
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340

In [65]:
data.shape

(159, 7)

In [66]:
data.isna().sum()

Species            0
Weight             0
Vertical_length    0
Diagnol_length     0
Cross_length       0
Height             0
Width              0
dtype: int64

In [67]:
fish = pd.get_dummies(data,columns=["Species"])
fish.head()

,Weight,Vertical_length,Diagnol_length,Cross_length,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,1,0,0,0,0,0,0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,1,0,0,0,0,0,0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,1,0,0,0,0,0,0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,1,0,0,0,0,0,0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0

In [117]:
x = fish.iloc[:,1:13].values
y = fish['Weight'].values
print(x)
print('\n')
print(y)

[[23.2 25.4 30.  ...  0.   0.   0. ]
 [24.  26.3 31.2 ...  0.   0.   0. ]
 [23.9 26.5 31.1 ...  0.   0.   0. ]
 ...
 [12.1 13.  13.8 ...  0.   1.   0. ]
 [13.2 14.3 15.2 ...  0.   1.   0. ]
 [13.8 15.  16.2 ...  0.   1.   0. ]]


[ 242.   290.   340.   363.   430.   450.   500.   390.   450.   500.
  475.   500.   500.   340.   600.   600.   700.   700.   610.   650.
  575.   685.   620.   680.   700.   725.   720.   714.   850.  1000.
  920.   955.   925.   975.   950.    40.    69.    78.    87.   120.
    0.   110.   120.   150.   145.   160.   140.   160.   169.   161.
  200.   180.   290.   272.   390.   270.   270.   306.   540.   800.
 1000.    55.    60.    90.   120.   150.   140.   170.   145.   200.
  273.   300.     5.9   32.    40.    51.5   70.   100.    78.    80.
   85.    85.   110.   115.   125.   130.   120.   120.   130.   135.
  110.   130.   150.   145.   150.   170.   225.   145.   188.   180.
  197.   218.   300.   260.   265.   250.   250.   300.   320.   514.
  556.   840.   685.   700.   700.   690.   900.   650.   820.   850.
  900.  1015.   820.  1100.  1000.  1100.  1000.  1000.   200.   300.
  300.   300.   430.   345.   456.   510.   540.   500.   567.   770.
  950.  1250.  1600.  1550.  1650.     6.7    7.5    7.     9.7    9.8
    8.7   10.     9.9    9.8   12.2   13.4   12.2   19.7   19.9]

In [111]:
x_train,x_test,y_train,y_test = train_test_split(x,y, train_size = 0.8, random_state = 1)
print(x_test)

[[33.5    37.     42.6    18.957   6.603   1.      0.      0.      0.
   0.      0.      0.    ]
 [19.4    21.     23.7     6.1146  3.2943  0.      0.      0.      0.
   1.      0.      0.    ]
 [29.4    32.     37.2    14.9544  5.1708  1.      0.      0.      0.
   0.      0.      0.    ]
 [20.5    22.5    24.      5.856   3.624   0.      0.      1.      0.
   0.      0.      0.    ]
 [18.2    20.     21.      5.082   2.772   0.      0.      1.      0.
   0.      0.      0.    ]
 [31.     33.5    38.7    14.4738  5.7276  1.      0.      0.      0.
   0.      0.      0.    ]
 [20.5    22.     24.3     6.6339  3.5478  0.      0.      0.      0.
   1.      0.      0.    ]
 [28.7    31.     36.2    14.3714  4.8146  1.      0.      0.      0.
   0.      0.      0.    ]
 [19.     20.5    22.8     6.4752  3.3516  0.      0.      0.      0.
   1.      0.      0.    ]
 [22.     24.     25.5     6.375   3.825   0.      0.      1.      0.
   0.      0.      0.    ]
 [20.     22.     23.5     5.875   3.525   0.      0.      1.      0.
   0.      0.      0.    ]
 [21.     23.     24.5     5.2185  3.626   0.      0.      1.      0.
   0.      0.      0.    ]
 [12.5    13.7    14.7     3.528   1.9992  0.      0.      1.      0.
   0.      0.      0.    ]
 [25.4    27.5    28.9     7.2828  4.5662  0.      0.      1.      0.
   0.      0.      0.    ]
 [33.7    36.4    39.6    11.7612  6.5736  0.      0.      0.      0.
   0.      0.      1.    ]
 [20.     22.     23.5     5.5225  3.995   0.      0.      1.      0.
   0.      0.      0.    ]
 [19.     20.7    23.2     8.5376  3.2944  0.      1.      0.      0.
   0.      0.      0.    ]
 [29.5    31.7    35.      9.485   5.355   0.      0.      0.      0.
   1.      0.      0.    ]
 [27.8    30.     31.6     7.6156  4.7716  0.      0.      1.      0.
   0.      0.      0.    ]
 [23.5    25.6    27.      6.561   4.239   0.      0.      1.      0.
   0.      0.      0.    ]
 [11.4    12.     13.2     2.2044  1.1484  0.      0.      0.      0.
   0.      1.      0.    ]
 [12.9    14.1    16.2     4.1472  2.268   0.      0.      0.      0.
   1.      0.      0.    ]
 [23.6    25.2    27.9     7.0866  3.906   0.      0.      0.      0.
   1.      0.      0.    ]
 [26.8    29.7    34.7    13.6024  4.9274  1.      0.      0.      0.
   0.      0.      0.    ]
 [19.     21.     22.5     5.6925  3.6675  0.      0.      1.      0.
   0.      0.      0.    ]
 [35.     38.5    44.     18.084   6.292   1.      0.      0.      0.
   0.      0.      0.    ]
 [30.4    33.     38.3    14.8604  5.2854  1.      0.      0.      0.
   0.      0.      0.    ]
 [ 9.3     9.8    10.8     1.7388  1.0476  0.      0.      0.      0.
   0.      1.      0.    ]
 [56.     60.     64.      9.6     6.144   0.      0.      0.      1.
   0.      0.      0.    ]
 [20.7    22.7    24.2     5.9532  3.63    0.      0.      1.      0.
   0.      0.      0.    ]
 [41.1    44.     46.6    12.4888  7.5958  0.      0.      1.      0.
   0.      0.      0.    ]
 [25.4    27.5    28.9     7.1672  4.335   0.      0.      1.      0.
   0.      0.      0.    ]]

In [105]:
H = LinearRegression()
H.fit(x_train,y_train)

LinearRegression()

In [112]:
score = H.score(x_train,y_train)
print("score : " + str(round(score*100,2)) + '%')
a = H.score(x_test,y_test)
print("score : " + str(round(a*100,2)) + '%')

score : 94.03%
score : 91.09%

In [113]:
predict = H.predict(x_test)
result = {'y_value':y_test,'y_predict':predict}
pd.DataFrame(result)

    y_value    y_predict
0    1000.0   786.895932
1     120.0   106.877114
2     600.0   546.186655
3     130.0   193.616759
4      85.0    70.677603
5     650.0   604.768801
6     145.0   122.903964
7     500.0   487.351516
8       0.0    70.768553
9     145.0   242.687360
10    135.0   174.814756
11    150.0   215.594484
12     32.0  -185.242525
13    250.0   371.342788
14    800.0   711.881818
15    110.0   188.966132
16    140.0   183.488387
17    390.0   536.004961
18    320.0   467.590714
19    197.0   308.048929
20      9.8    -0.621707
21     40.0  -171.049562
22    180.0   249.667531
23    450.0   495.212598
24    125.0   147.155398
25    955.0   833.637984
26    700.0   584.900687
27      6.7   -83.455803
28   1550.0  1280.466730
29    145.0   199.423873
30   1000.0  1027.005160
31    260.0   366.930286

In [114]:
r2 = r2_score(y_test,predict)
print("score : " + str(round(r2*100,2)) + '%')

score : 91.09%