In [2]:
import numpy as np
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

In [8]:
data1 = pd.read_csv("onep.csv")

table1 = pd.crosstab(index=data1['class'], columns=data1['handed'], margins=True, margins_name='Total')
table1

handed   L   R  Total
class
A        9  43     52
B        4  44     48
Total   13  87    100

In [11]:
table2 = pd.crosstab(index=data1['class'], columns=data1['handed'], margins=True, margins_name='Total', normalize='index')
table2

handed         L         R
class
A       0.173077  0.826923
B       0.083333  0.916667
Total   0.130000  0.870000

In [13]:
table3 = pd.crosstab(index=data1['class'], columns=data1['handed'], margins=True, margins_name='Total', normalize='columns')
table3

handed         L         R  Total
class
A       0.692308  0.494253   0.52
B       0.307692  0.505747   0.48

In [14]:
print("H0: 90% of doctors recommend Aspirin for headache")
print("H1: 90% of doctors not recommend Aspirin for headache")

H0: 90% of doctors recommend Aspirin for headache
H1: 90% of doctors not recommend Aspirin for headache

In [18]:
pop_0 = 0.9

n = 100
yes = 82
p_hat = yes/n

Zstat, pval = proportions_ztest(count=yes, nobs=n, value=pop_0)

print("Z statistic: ", round(Zstat,4))
print("p value: ", round(pval,4))

Z statistic:  -2.0823
p value:  0.0373