In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv("class1.csv",header=0)

In [11]:
obs_freq = data1['class'].value_counts()
obs_freq

B    260
C    130
A    110
Name: class, dtype: int64

In [29]:
data1.describe()

       class
count    500
unique     3
top        B
freq     260

In [4]:
pop_0 = [0.5, 0.3, 0.2]
n = np.sum(obs_freq)

exp_freq = [n*j for j in pop_0]
exp_freq

[250.0, 150.0, 100.0]

In [5]:
T = np.sum((obs_freq - exp_freq)**2/exp_freq)
print("test statistics :", round(T,3))

test statistics : 4.067

In [6]:
alpha = 0.05
dist_chi = stats.chi2(2)

ul = dist_chi.ppf(1-alpha)

if (T > ul):
    print("Reject H0")
else :
    print("Accept H0")

Accept H0

In [7]:
eff_size = np.sqrt(T / (np.sum(n)*(len(exp_freq)-1)))

print("Effect size: ", round(eff_size, 3))

Effect size:  0.064

In [8]:
T, pval = stats.chisquare(obs_freq, exp_freq)

print("Test statistic: ", round(T,3))
print("pvalue : ", round(pval, 3))

Test statistic:  4.067
pvalue :  0.131